{% extends 'base.html' %}

{% block content %}

<h1>Agregar Gasto</h1>
<form method="POST">
    <div>
        {{form.nombre}}
        <label for="floatingInput">Nombre</label>
        {{form.fecha}}
        <label for="floatingInput">fecha</label>
        {{form.descripcion}}
        <label for="floatingInput">Descripcion</label>
        {{form.importe}}
        <label for="floatingInput">Importe</label>
        {{form.categoria}}
        <label for="floatingInput">Categoria</label>

    </div>
    <button type="submit">Agregar</button>
    {% csrf_token %}
</form>
<p><a href="{% url 'logout' %}">cerrar sesion</a></p>
<p><a href="{% url 'home' %}">home</a></p>
{% endblock %}